/* ---------- grid container styling ---------- */
.grid-container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1em;
    margin-left: 5%;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.25);
  }
  
  @media (min-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .grid-container > article {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0.5em;
    border-radius: 5px;
    font-family: var(--broedtekst);
    background-color: #FEF3E1 ;
  }
  
  .grid-container > article h2 {
    font-size: 0.9em;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .grid-container > article h6 {
    font-size: 0.9em;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .grid-container > article ::first-letter {
    text-transform: uppercase;
  }
  
  .grid-container > article:hover {
    box-shadow: 0 8px 16px 0 var(--green);
  }
  
  .grid-container > article img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  
  .grid-container > article #shop img {
    display: block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
  }
  .grid-container > article #shop {
    width: auto;
    height: auto;
  }
  
  .grid-container > article figure {
    margin: 0%;
  }